html {
  scroll-behavior: smooth;
}

// Flush footer
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px; // Controls spacing from content to footer
}

footer.navbar {
  position: absolute;
  bottom: 0;
  margin-top: 20px;

  background-color: $gray-300;
  color: $navbar-light-color;

  .navbar-text a {
    color: $navbar-light-color;

    &:hover {
      color: $link-color;
    }
  }
}

// End flush footer
